/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
@charset"utf-8";
@font-face{
    font-family: 'FantasqueSansMono';
    src: url('/font/FantasqueSansMono-Regular.eot'); /* IE9 */
    src: url('/font/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
        url('/font/FantasqueSansMono-Regular.woff') format('woff'), /* Morden Browsers */
        url('/font/FantasqueSansMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/font/FantasqueSansMono-Regular.svg#FantasqueSansMono') format('svg'); /* Legacy iOS */
}
:root{
/* https://colorschemedesigner.com/csd-3.5/#<Scheme ID> */
    /* Scheme ID 就是第一个括号里那个，例如：2H61T31--w0w0 */
    /* 最后四位代表 Scheme Contrast 的位置 */
    /*     w0w0 是 Scheme Contrast 放中间 */
    /*     --00 是 Scheme Contrast 左上角 */
    /*     k7w0 是 Scheme Contrast 中间稍下 */
/* light mode */
    --c-light-background: #EEFFE7;  /* (2H61T31--w0w0) Primary Color 1 *//* 亲自指定 */
    --c-light-background_left: var(--c-light-background);
    --c-light-read: #174D00;        /* (2H61T31----00) Primary Color 3 */
    --c-light-normal-font: #66A64B; /* (2H61T31--w0w0) Primary Color 3 */
    --c-light-thick-font: #316C18;  /* (2H61Thyoew0w0) Primary Color 3 *//* (2H61T31--w0w0) Primary Color 3 做 Primary Color 1 */
    --c-light-link: var(--c-light-normal-font);
    --c-light-thin-line: #92C77C;   /* (2H61T31--k7w0) Primary Color 3 */
    --c-light-table-footnote: #BBF5A9;  /* (2J61T9WSJw0w0) Primary Color 1 *//* 亲自指定 */
    --c-light-table_border: #000000;    /* black */
    --c-light-table_even: #CEFAC0;  /* (2J61T9WSJw0w0) Primary Color 4 */
    --c-light-table_odd: #DAFACF;   /* (2J61T9WSJw0w0) Primary Color 5 */
    --c-light-bar_middle: var(--c-light-read);
    --c-light-bar_side: var(--c-light-normal-font);
    --c-light-bar-ham_fg: #000000;  /* black */
    --c-light-bar-toc_fg: #F9FFE7;  /* (2H61T31--w0w0) Secondary Color B 1 */
    --c-light-toc_bg: var(--c-light-bar_side);
    --c-light-toc_fg_hover: var(--c-light-table-footnote);
    --c-light-quote: #BCBFB2;       /* (2H61T31--w0w0) Secondary Color B 2 */
    --c-light-quote-left: #7A807E;  /* (2H61T31----00) Secondary Color A 2 */
    --c-light-code: #000000;        /* black */
    --c-light-code_bg: var(--c-light-quote);
    --c-light-shadow: #888888;      /* grey */
    --c-light-notation_fg: #000000;
    --c-light-notation_bg: #F2F5A9;
    --c-light-checkbox: #FFA500;    /* 亲自指定 */
/* dark mode */
    --c-dark-background: #222222;   /* Dark Grey */
    --c-dark-background_left: #323232;  /* 12 dp */
    --c-dark-read: #B6BFB2; /* (2H61T31--w0w0) Primary Color 2 */
    --c-dark-normal-font: #809875;  /* (2H61T9MtDw0w0) Primary Color 2 */
    --c-dark-thick-font: #9FCB8D;   /* (2H61T9MtDw0w0) Primary Color 1 *//* 亲自指定 */
    --c-dark-link: var(--c-dark-normal-font);
    --c-dark-thin-line: var(--c-dark-normal-font);
    --c-dark-table-footnote: #434343;   /* 亲自指定 */
    --c-dark-table_border: #EEFFE7; /* (2H61T31--w0w0) Primary Color 1 */
    --c-dark-table_even: #404040;   /* 亲自指定 */
    --c-dark-table_odd: #373737;    /* 亲自指定 */
    --c-dark-bar_middle: #2F3A0E;     /* (2e61Tw0aaw0w0) Secondary Color B 2 */
    --c-dark-bar_side: #5D605D;   /* (2L61T1wjfw0w0) Primary Color 2 *//* (2H61T31----00) Primary Color 2 做 Primary Color */
    --c-dark-bar-ham_fg: #EEFFE7;   /* (2H61T31--w0w0) Primary Color 1 */
    --c-dark-bar-toc_fg: #F9FFE7;   /* (2H61T31--w0w0) Secondary Color B 1 */
    --c-dark-toc_bg: var(--c-dark-bar_side);
    --c-dark-toc_fg_hover: var(--c-dark-table-footnote);
    --c-dark-quote: #BCBFB2;    /* (2H61T31--w0w0) Secondary Color B 2 */
    --c-dark-quote-left: var(--c-dark-bar_side);
    --c-dark-code: #000000; /* black */
    --c-dark-code_bg: var(--c-dark-quote);
    --c-dark-shadow: #888888;      /* grey */
    --c-dark-notation_fg: #D1D1D1;
    --c-dark-notation_bg: #52542C;
    --c-dark-checkbox: #757575;
}
.theme-container{
    --c-background: var(--c-light-background);
    --c-background_left: var(--c-light-background_left);
    --c-read: var(--c-light-read);
    --c-normal-font: var(--c-light-normal-font);
    --c-thick-font: var(--c-light-thick-font);
    --c-link: var(--c-light-link);
    --c-thin-line: var(--c-light-thin-line);
    --c-table-footnote: var(--c-light-table-footnote);
    --c-table_border: var(--c-light-table_border);
    --c-table_even: var(--c-light-table_even);
    --c-table_odd: var(--c-light-table_odd);
    --c-bar_middle: var(--c-light-bar_middle);
    --c-bar_side: var(--c-light-bar_side);
    --c-bar-ham_fg: var(--c-light-bar-ham_fg);
    --c-bar-toc_fg: var(--c-light-bar-toc_fg);
    --c-toc_bg: var(--c-light-toc_bg);
    --c-toc_fg_hover: var(--c-light-toc_fg_hover);
    --c-quote: var(--c-light-quote);
    --c-quote-left: var(--c-light-quote-left);
    --c-code: var(--c-light-code);
    --c-code_bg: var(--c-light-code_bg);
    --c-shadow: var(--c-light-shadow);
    --c-notation_fg: var(--c-light-notation_fg);
    --c-notation_bg: var(--c-light-notation_bg);
    --c-checkbox: var(--c-light-checkbox);
}
.theme-container.dark{
    --c-background: var(--c-dark-background);
    --c-background_left: var(--c-dark-background_left);
    --c-read: var(--c-dark-read);
    --c-normal-font: var(--c-dark-normal-font);
    --c-thick-font: var(--c-dark-thick-font);
    --c-link: var(--c-dark-link);
    --c-thin-line: var(--c-dark-thin-line);
    --c-table-footnote: var(--c-dark-table-footnote);
    --c-table_border: var(--c-dark-table_border);
    --c-table_even: var(--c-dark-table_even);
    --c-table_odd: var(--c-dark-table_odd);
    --c-bar_middle: var(--c-dark-bar_middle);
    --c-bar_side: var(--c-dark-bar_side);
    --c-bar-ham_fg: var(--c-dark-bar-ham_fg);
    --c-bar-toc_fg: var(--c-dark-bar-toc_fg);
    --c-toc_bg: var(--c-dark-toc_bg);
    --c-toc_fg_hover: var(--c-dark-toc_fg_hover);
    --c-quote: var(--c-dark-quote);
    --c-quote-left: var(--c-dark-quote-left);
    --c-code: var(--c-dark-code);
    --c-code_bg: var(--c-dark-code_bg);
    --c-shadow: var(--c-dark-shadow);
    --c-notation_fg: var(--c-dark-notation_fg);
    --c-notation_bg: var(--c-dark-notation_bg);
    --c-checkbox: var(--c-dark-checkbox);
}
/* The switch - the box around the slider */
.switch{
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}
/* Hide default HTML checkbox */
.switch .theme-switcher{
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0rem;
    right: 0;
    bottom: 0;
    background-color: var(--c-checkbox);
    transition: 0.2s;
}
.slider:before{
    position: absolute;
    content: "🌑";
    height: 0;
    width: 0;
    left: 0;
    top: 0.8rem;
    line-height: 0px;
    transition: 0.2s;
}
.theme-switcher:checked + .slider:before{
    left: -1.5rem;
    content: "🌞";
    transform: translateX(3.5rem);
}
/* Rounded sliders */
.slider.round{
    border-radius: 1.5rem;
}
*{
    border-width: 0;
    margin: 0;
    padding:0;
    font-family: Arial, "Helvetica Neue", Helvetica, "Source Han Sans CN", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
body{
    overflow: hidden;
    height: 100vh;
    background-color: var(--c-background);
}
a:link{
    color: var(--c-link);
    text-decoration: none;
}
a:visited{
    color: var(--c-link);
    text-decoration: none;
}
.bar_left_button{
    background-color: var(--c-bar_side);
}
.bar_title{
    background-color: var(--c-bar_middle);
}
.toc_title_for_bar{
    background-color: var(--c-bar_side);
    color: var(--c-bar-toc_fg);
}
.bar1, .bar2, .bar3{
    background-color: var(--c-bar-ham_fg);
}
.left{
    background-color: var(--c-background_left);
    -webkit-box-shadow: -0.03125rem -0.0625rem 0.375rem 0.1875rem var(--c-shadow);
            box-shadow: -0.03125rem -0.0625rem 0.375rem 0.1875rem var(--c-shadow);
    /*上面盒子阴影的六个参数：水平阴影位置（负值为向下），竖直阴影位置，模糊距离，阴影尺寸，颜色，inset 内阴影*/
}
.left_non-footer{
    margin-bottom: 1.25rem;
    margin-top: 1rem;
    /* 这一行是为了在高度不够显示时出现进度条 */
    overflow-y: auto;
}
.left_non-footer_option{
    margin-right: 0.75rem;
}
.left_non-footer_option_active, .left_non-footer_option_active a{
    color: var(--c-thick-font);
}
.left_non-footer_option_non-active{
    color: var(--c-normal-font);
}
.left_non-footer_head_title{
    color: var(--c-normal-font);
}
.left_non-footer_head_subtitle{
    color: var(--c-normal-font);
}
.left_non-footer_main{
    margin-left: 12%;
    padding-top: 0.628rem;
}
.left_non-footer li{
    list-style: none;
}
.left_non-footer .h1{
    padding-top: 1.25rem;
    font-size: 1.5rem;
    color: var(--c-normal-font);
    font-weight: 700;
    border-bottom: 0.375rem var(--c-thin-line) solid;
}
.left_non-footer .h2{
    padding-top: 0.4rem;
    padding-left: 0.725rem;
    font-size: 1.2rem; 
    font-weight: 600;
    color: var(--c-normal-font);
}
.left_non-footer .h1.active::after {
    content: "◂";
}
.left_non-footer .h2.active::after {
    content: "<";
}
.left_non-footer_main .active a {
    color: var(--c-thick-font);
}
.left_footer{
    margin-bottom: 1.35rem;
    color: var(--c-normal-font);
    border-bottom: 0.1rem solid;
    border-top: 0.1rem solid;
}
.right_head_title{
    color: var(--c-normal-font);
}
.right_head_des{
    color: var(--c-normal-font);
}
.right_main_article{
    color: var(--c-read);
}
code, code span{
    background-color: var(--c-code_bg);
    color: var(--c-code);
    font-size: 1rem;
    border-radius: 0.15rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-family: FantasqueSansMono;
}
.right_main_article a{
    text-decoration: underline;
}
.right_main_article ol{
    margin-left: 2rem;
}
.right_main_article p{
    overflow-x: auto; /*为的是让宽一些的图片不把整个右边撑开*/
    overflow-y: hidden;
}
figure{
    text-align: center;
}
figcaption{
    font-size: 75%
}
pre{
    background-color: var(--c-code_bg);
    line-height: 110%;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    overflow-x: auto;
}
blockquote{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.05rem;
    color: var(--c-code);
    background-color: var(--c-quote);
    border-left: 0.6rem solid var(--c-quote-left);
}
table{
    margin: auto;
    background-color: var(--c-table-footnote);
    margin-bottom: 0.25rem;
}
thead tr{
    background: var(--c-table-footnote);
}
th{
    border-bottom: 0.125rem solid var(--c-table_border);
    padding-top: 0.125rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
td{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
tbody tr:nth-child(even){
    background: var(--c-table_even);
}
tbody tr:nth-child(odd){
    background: var(--c-table_odd);
}
img{
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 100%;
}
/*下面三个都是给列表页用的*/
.right_main_article-title{
    color: var(--c-normal-font);
    font-weight: 700;
}
.right_main_article-des{
    color: var(--c-normal-font);
}
.right_main_article-sum{
    color: var(--c-thick-font);
    font-size: 0.9rem;
    font-weight: 400;
    border-bottom: 0.375rem var(--c-thin-line) solid;
}
.notation_color{
    color: var(--c-notation_fg);
    background-color: var(--c-notation_bg);
    margin-bottom: 0.4rem;
}
.notation_color p{
    margin-bottom: 0rem !important;
}
.right_main_notes{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.right_main_notes p{
    color: var(--c-read);
}
strong span{
    color: var(--c-read) !important;
}
.footnotes{
    margin-top: 3rem;
    border-top: 0.375rem var(--c-thin-line) solid;
}
.footnotes p{
    background-color: var(--c-table-footnote);
    color: var(--c-read);
}
.right_comments{
    background-color: #463D4E;   /* 评论区使用的 utterances 的 github-dark-orange 主题，写死不能动 */
    border-top: 0.375rem var(--c-thin-line) solid;
}
.toc_title{
    background-color: var(--c-bar_side);
    color: var(--c-bar-toc_fg);
}
.toc_content{
    overflow-y: auto;
    background-color: var(--c-toc_bg);
    border-style: solid;
    border-width: 0.3rem;
    border-color: var(--c-thin-line);
}
.toc_content a{
    color: var(--c-bar-ham_fg);
    font-size: 1.1rem;
    text-decoration: none;
}
.toc_content a:hover{
    /*其实对手机端来说这没什么用，因为没法 hover*/
    background-color: var(--c-toc_fg_hover);
}
/*下面是防剧透黑块*/
.black_block{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: var(--c-read);
    color: var(--c-read);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.black_block_show{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: var(--c-read);
    color: var(--c-background);
}

/* 下面是标题计数器 */
.right_main_article{
    counter-reset: h1counter;
}
.right_main_article h1{
    counter-reset: h2counter;
}
.right_main_article h2{
    counter-reset: h3counter;
}
.right_main_article h3{
    counter-reset: h4counter;
}
.right_main_article h4{
    counter-reset: h5counter;
}
.right_main_article h5{
    counter-reset: h6counter;
}
.right_main_article h6{
    /* nothing for counter */
}
/* 上面是标题计数器 */
/* 下面是文章标题计数显示 */
.right_main_article h1:before {
    counter-increment: h1counter;
    content: counter(h1counter) ".\0000a0\0000a0";
}
.right_main_article h2:before {
    counter-increment: h2counter;
    content: counter(h1counter) "."
        counter(h2counter) ".\0000a0\0000a0";
}
.right_main_article h3:before {
    counter-increment: h3counter;
    content: counter(h1counter) "."
        counter(h2counter) "."
        counter(h3counter) ".\0000a0\0000a0";
}
.right_main_article h4:before {
    counter-increment: h4counter;
    content: counter(h1counter) "."
        counter(h2counter) "."
        counter(h3counter) "."
        counter(h4counter) ".\0000a0\0000a0";
}
.right_main_article h5:before {
    counter-increment: h5counter;
    content: counter(h1counter) "."
        counter(h2counter) "."
        counter(h3counter) "."
        counter(h4counter) "."
        counter(h5counter) ".\0000a0\0000a0";
}
.right_main_article h6:before {
    counter-increment: h6counter;
    content: counter(h1counter) "."
        counter(h2counter) "."
        counter(h3counter) "."
        counter(h4counter) "."
        counter(h5counter) "."
        counter(h6counter) ".\0000a0\0000a0";
}
/* 上面是文章标题计数显示 */
/* 下面是目录标题计数显示 */
.toc_content ul{
    counter-reset: section;  
    list-style-type: none;
    margin: 0 1rem;
}
.toc_content li::before{
    counter-increment: section;
    content: counters(section,".") " ";
}
/* 上面是目录标题计数显示 */
