/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.bar_for_phone{
    display: none;
}
.body_for_pc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* 下面四行是为了让右边动，左边固定住的，这是方案1 */
    /*position: sticky;
    top: 0;
    left: 0;
    right: 0;*/
    /* 这个方案可能浏览器支持不好，因此不采用 */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 25vw;
    height: 100vh;
    margin-left: 0.5vw;
}
.left_non-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.left_non-footer_option{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.left_non-footer_head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0.75rem;
    padding-bottom: 0.125rem;
}
.left_non-footer_head_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    font-weight: 900;
}
.left_non-footer_head_subtitle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 20%;
    padding-top: 0.625rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.left_non-footer_main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}
.left_footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
.right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 75vw;
    padding-left: 2rem;
    padding-right: 2rem;
    /* 下面两行是为了让右边动，左边固定住的，这是方案2 */
    overflow-y: auto;
    height: 100vh;
    /* 这个方案挺不错，先用着 */
}
.right_head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*align-items: center;*/
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.right_head_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 2.3rem;
    font-weight: 600;
}
.right_head_des{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 1.25rem;
}
.right_main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 5rem;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 6rem;
}
.right_main_article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* 注释掉以防在 front matter 有 content 的列表页
     * 顺序错乱 */
    /* 应该就是首页吧？ */
    /*order: 1;*/
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.right_main_article h1{
    margin-bottom: 0.6rem;
    margin-left: -2rem;
    font-size: 1.8rem;
    font-weight: 800;
}
.right_main_article h2{
    margin-bottom: 0.6rem;
    margin-left: -1.8rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.right_main_article h3{
    margin-bottom: 0.6rem;
    margin-left: -1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}
.right_main_article h4{
    margin-bottom: 0.6rem;
    margin-left: -1.4rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.right_main_article h5{
    margin-bottom: 0.6rem;
    margin-left: -1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.right_main_article h6{
    margin-bottom: 0.6rem;
    margin-left: -1rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.right_main_article p{
    margin-bottom: 0.6rem;
    text-indent: 2.4rem; /* article font-size 的二倍，确保是空了两个格.*/
    line-height: 160%;
}
/*下面三个都是给列表页用的*/
.right_main_article-title{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 1.4rem;
}
.right_main_article-des{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 0.85rem;
}
.right_main_article-des-sum{
    font-size: 0.85rem;
}
.right_main_notes{
    /* 注释掉以防在 front matter 有 content 的列表页
     * 顺序错乱 */
    /* order: 2; */
}
.right_comments{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.toc{
    overflow-y: auto;
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 20%;
}
.toc_title{
    position: relative;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.toc_content{
    max-height: 30rem;
    right: 0;
    display: none;
    position: relative;
}
.toc:hover .toc_content{
    display: block;
}
