body {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.bar_for_phone{
    display: -webkit-flex;
    display: flex;
    order: 1;
    height: 6vh;
}
.bar_left_button{
    display: -webkit-flex;
    display: flex;
    order: 1;
}
.left_button_for_bar{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #6AA84F;
    font-size: 1.2rem;
    color: white;
}
.bar_title{
    display: -webkit-flex;
    display: flex;
    align-items: center;/*上下的中间*/
    order: 2;
    flex-grow: 1;
    background-color: #274E13;
    padding-left: 1rem;
    font-size: 1.375rem;
    font-weight: 700;
}
.bar_right_button{
    display: -webkit-flex;
    display: flex;
    order: 3;
}
.toc_title_for_bar{
  background-color: #6AA84F;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.body_for_pc{
    display: -webkit-flex;
    display: flex;
    order: 2;
    height: 94vh;
    position: relative;/*保证左右菜单拉出来后不遮挡顶栏*/
}
.left{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 1;
    position: absolute;/*保证左边拉出来后右边呆在原位不被挤压*/
    top: 0;
    bottom: 0;
    z-index: 2;/*确保左边、右边同时拉出时左边覆盖在右边上*/
    width: 80vw;
    margin-left: -79.5vw;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}
.left_show{
    margin-left: 0.5vw;
    opacity: 1;
}
.left_non-footer{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 1;
    flex-grow: 1;
}
.left_non-footer_option{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 1;
    align-self: flex-end;
}
.left_non-footer_head{
    display: none;
}
.left_non-footer_main{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 2;
}
.left_footer{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
}
.right{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100vw;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    overflow-y: auto;
}
.right_head{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    order: 1;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.right_head_title{
    display: -webkit-flex;
    display: flex;
    order: 1;
    font-size: 1.75rem;
    font-weight: 900;
}
.right_head_des{
    display: -webkit-flex;
    display: flex;
    order: 2;
    font-size: 1rem;
}
.right_main{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 2;
    padding-top: 3.5rem;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 3.5rem;
}
.right_main_article{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 1;
    font-size: 1rem;
}
.right_main_article h1{
    margin-top: 1rem;
    margin-left: -0.2rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.right_main_article h2{
    margin-top: 0.9rem;
    margin-left: -0.2rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.right_main_article h3{
    margin-top: 0.8rem;
    margin-left: -0.2rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.right_main_article h4{
    margin-top: 0.7rem;
    margin-left: -0.2rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.right_main_article h5{
    margin-top: 0.6rem;
    margin-left: -0.2rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.right_main_article h6{
    margin-top: 0.5rem;
    margin-left: -0.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.right_main_article p{
    margin-top: 0.5rem;
    text-indent: 2rem; /* article font-size 的二倍，确保是空了两个格.*/
    line-height: 150%;
}
/*下面三个都是给列表页用的*/
.right_main_article-title{
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    font-size: 1.5rem;
}
.right_main_article-des{
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 0.3rem;
    border-bottom: 0.3rem #93C47D solid;
    font-size: 0.9rem;
}
.right_main_article-sum{
    display: none;/*小屏幕不显示摘要*/
}
.right_main_notes{
    order: 2;
}
.right_comments{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 3;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.toc{
    display: none;
}
.toc_show{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 80vw;
}
.toc_title{
    display: none;
}
.toc_content{
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    order: 2;
    height: 94vh;
    z-index: 1;
}
