/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.bar_for_phone{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 3rem;
}
.bar_left_button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 3rem;
}
.left_button_for_bar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bar1, .bar2, .bar3{
    width: 2rem;
    height: 0.7rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
}
.bar_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;/*上下的中间*/
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 1rem;
    font-size: 1.375rem;
    font-weight: 700;
}
.bar_right_button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
}
.toc_title_for_bar{
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.body_for_pc{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 94vh;
    position: relative;/*保证左右菜单拉出来后不遮挡顶栏*/
}
.left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: absolute;/*保证左边拉出来后右边呆在原位不被挤压*/
    top: 0;
    bottom: 0;
    z-index: 2;/*确保左边、右边同时拉出时左边覆盖在右边上*/
    width: 80vw;
    margin-left: -79.5vw;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.left_show{
    margin-left: 0.5vw;
    opacity: 1;
}
.left_non-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.left_non-footer_option{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
.left_non-footer_head{
    display: none;
}
.left_non-footer_main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
.left_footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
.right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100vw;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    overflow-y: auto;
}
.right_head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*align-items: center;*/
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.right_head_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.75rem;
    font-weight: 900;
}
.right_head_des{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 1rem;
}
.right_main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 3.5rem;
    margin-left: 6vw;
    margin-right: 6vw;
    padding-bottom: 5rem;
}
.right_main_article{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* 注释掉以防在 front matter 有 content 的列表页
     * 顺序错乱 */
    /*order: 1;*/
    font-size: 1rem;
    margin-bottom: 2rem;
}
.right_main_article h1{
    margin-bottom: 0.6rem;
    margin-left: -0.2rem;
    font-size: 1.6rem;
    font-weight: 800;
}
.right_main_article h2{
    margin-bottom: 0.55rem;
    margin-left: -0.2rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.right_main_article h3{
    margin-bottom: 0.5rem;
    margin-left: -0.2rem;
    font-size: 1.4rem;
    font-weight: 600;
}
.right_main_article h4{
    margin-bottom: 0.45rem;
    margin-left: -0.2rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.right_main_article h5{
    margin-bottom: 0.4rem;
    margin-left: -0.2rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.right_main_article h6{
    margin-bottom: 0.4rem;
    margin-left: -0.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.right_main_article p{
    margin-bottom: 0.6rem;
    text-indent: 2rem; /* article font-size 的二倍，确保是空了两个格.*/
    line-height: 150%;
}
.right_main_article ul{
    margin-bottom: 0.6rem;
    margin-left: 3.8rem;
}
.right_main_article ul ul{
    margin-bottom: 0.6rem;
    margin-left: 1.1rem;
}
.right_main_article ul ul ul{
    margin-bottom: 0.6rem;
    margin-left: 1.1rem;
}
.right_main_article ul ul ul ul{
    margin-bottom: 0.6rem;
    margin-left: 1.1rem;
}
/* 上面的多级列表缩进，见, https://stackoverflow.com/q/11445453/9783145 */
/*下面三个都是给列表页用的*/
.right_main_article-title{
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    font-size: 1.1rem;
}
.right_main_article-des{
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
}
.right_main_article-des-sum{
    font-size: 0.8rem;
}
.right_main_notes{
    /* 注释掉以防在 front matter 有 content 的列表页
     * 顺序错乱 */
    /*order: 2;*/
}
.right_comments{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.toc{
    display: none;
}
.toc_show{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 80vw;
}
.toc_title{
    display: none;
}
.toc_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 94vh;
    z-index: 1;
}
blockquote{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;    
}
