{{ define "head_title" }}
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
        {{ if ($currentNode.IsMenuCurrent "main" .) }}
            {{ .Name }}
        {{ else }}
            {{ range .Children }}
                {{ if ($currentNode.IsMenuCurrent "main" .) }}
                    {{ .Name }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "right_head" }}
<header class="right_head">
    <div class="right_head_title">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
                {{ if ($currentNode.IsMenuCurrent "main" .) }}
                    {{ .Name }}
                {{ else }}
                    {{ range .Children }}
                        {{ if ($currentNode.IsMenuCurrent "main" .) }}
                            {{ .Name }}
                        {{ end }}
                    {{ end }}
                {{ end }}
        {{ end }}
    </div>
    <div class="right_head_des">
        {{ .Content }}
    </div>
</header>
{{ end }}

{{ define "right_main" }}
<main class="right_main">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
        {{ if ($currentNode.IsMenuCurrent "main" .) }}
            {{ range where
                (where
                    (where
                        $currentNode.Site.Pages "Section" (path.Base .URL)
                    ) "Title" "ne" ""
                ) ".Params.list_hide" "ne" true }}
                {{ .Render "summary" }}
            {{ end }}
        {{ else }}
            {{ range .Children }}
                {{ if ($currentNode.IsMenuCurrent "main" .) }}
                    {{ range where
                        $currentNode.Pages ".Params.list_hide" "ne" true }}
                        {{ .Render "summary" }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</main>
{{ end }}
