<a href="{{ .RelPermalink }}">
<div class="right_main_article-title">
    ■ &nbsp; {{ .Title }}
</div>
<div class="right_main_article-des">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ◇ {{ .Date | time.Format ":date_long" }}&nbsp;
    ◇ {{ i18n "reading-time" }}: {{ .ReadingTime }} {{ i18n "minutes" .ReadingTime }}&nbsp;
    <span class="right_main_article-des-sum">
        ◇ {{ i18n "summary" }}:
        {{ replace
            (replace
                (replace
                    (replace
                        (replace
                            (trim .Summary "\n") "<p>" ""
                        ) "</p>" ""
                    ) "&rsquo;" "’"
                ) "&hellip;" "…"
            ) "&amp;" "&" | truncate 50 }}
    </span>
</div>
</a>
