{{ define "head_title" }}                                                       
    {{ i18n "hello" }}
{{ end }}

{{ define "right_head" }}
<div class="right_head">
    <div class="right_head_title">
        {{ i18n "hello" }}
    </div>
</div>
{{ end }}

{{ define "right_main" }}
<div class="right_main">
    <div class="right_main_article">
        {{ .Content }}
    </div>
    {{ range first 8 (where .Site.RegularPages ".Params.list_hide" "ne" true) }}
        {{ .Render "summary"}}
    {{ end }}
</div>
{{ end }}
